.mainpicture{
  display: block;
  margin:auto;
  max-width: 30%;
  max-height: 30%;
}
.middleone {
  max-width: 30%;
  max-height: 30%;
}
.middletwo{
  max-width: 30%;
  max-height: 30%;
}
.middlethree{
  max-width: 30%;
  max-height: 30%;
}
