.mainpicture{
  display: block;
  margin:auto;
  max-width: 35%;
  max-height: 35%;
}
.middleone {
  max-width: 25%;
  max-height: 25%;
}
.middletwo{
  max-width: 25%;
  max-height: 25%;
  padding-bottom: 5%;
}
.middlethree{
  max-width: 25%;
  max-height: 25%;
}
